<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app">
    <div class="card">
        <h1>План по изучению Vue.js</h1>

        <div class="steps">
            <div class="steps-content">
                {{ this.steps[isActiveStep].text }}
            </div>
            <ul class="steps-list">
                <li :class="{
                'steps-item': true,
                'active': isActiveStep === idx,
                'done': isActiveStep > idx,
                }"
                    v-for="(item, idx) in steps"
                    @click="setActive(idx)"
                ><span>{{idx + 1}}</span> {{ item.title }}
                </li>
            </ul>
            <div v-if="isNotLastStep || !isLastStepActive" class="btn-block">
                <button
                        class="btn"
                        @click="prev"
                        :disabled="isPreviousButtonTurnOf"
                >
                    Назад
                </button>
            </div>
            <div v-if="isNotLastStep" class="btn-block">

                <button
                        class="btn primary"
                        @click="nextOrFinish"
                >
                    Вперед
                </button>
            </div>
            <div v-else-if="!isLastStepActive" class="btn-block">
                <button
                        class="btn primary"
                        @click="nextOrFinish"
                >
                    Закончить
                </button>
            </div>
            <div v-else-if="isLastStepActive" class="btn-block">
                <button
                        class="btn"
                        @click="reset"
                >
                    Начать заного
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
